*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(130.02deg, #628E75 0.66%, #1A4855 83.32%);
    box-shadow: 26px 24px 90px rgba(31, 26, 51, 0.13);
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #f9f9f9;
}

.header{
    margin: 0 auto;
    width: 1090px;
    display: flex;
    justify-content: space-between;
    padding-top: 41px;
}

.socialIcons{
    display: flex;
    align-items: center;
}

.socialIcons img{
    margin-left: 29px;
}

.container{
    display: flex;
    margin: 0 auto;
    margin-top: 75.89px;
    width: 1110px;
    height: 415px;
}

.container .texto{
    width: 50%;
}

.container .ilustracao{
    width: 50%;
}

.container h2{
    font-size: 20px;
    font-weight: 700;
}

.container h1{
    margin-top: 14px;
    font-size: 68px;
    font-weight: 900;
    line-height: 74px;
}

.container p{
    margin-top: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
}

.texto .botoes{
    margin-left: 7px;
    margin-top: 46px;
    display: flex;
}

.botoes button{
    margin-right: 12px;
    background-color:  #658E76;
    color: #f9f9f9;
    font: 500 16px 'Poppins', sans-serif ;
    width: 225px;
    height: 45px;
    border: none;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    display: block;
}

.botoes .botao2{
    border: 2px solid #658E76;
    background-color: transparent;
    
}

button div{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}

button img{
    margin-right: 10px;
}

.ilustracao img{
    margin-top: -57px;

}